<!-- <div class="container">
  <div class="row">
    <div class="col">
      <h3>Ths is {{name}}</h3>
      <hr />
      <app-servers></app-servers> -->
      <!-- <div app-servers></div>  Attribute component selector -->
      <!-- <div class="app-servers"></div> Class component selector-->
    <!-- </div>
  </div>
</div> -->
<app-header></app-header>
<div class="container">
  <div class="row">
    <div class="col-12">
      <app-recipes></app-recipes>
      <app-shopping-list></app-shopping-list>
    </div>
  </div>
</div>